.image-slider{
    position: relative;
    height: 100%;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;

    &__content{
        height: 100%;
        width: 900px;
        display: flex;
    }

    &__slide{
        height: 100%;
        min-height: 500px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__arrow{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(220,220,220, .8);

        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 .3rem .6rem rgba(0,0,0,.5);
        transition: all .3s;
        height: 3.6rem;
        width: 3.6rem;
    
        &:hover{
            box-shadow: 0 .2rem 1rem rgba(255,255,255,.7);
        background: rgba(255,255,255, .8);
        }

        svg{
            color: #222;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

        &--right{
            right: 1rem;
        }

        &--left{
            left: 1rem;
        }
    }
}